<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="bg-light py-3" th:fragment="copy">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12">
                <p class="text-center">
                    © 2023 <a href="https://github.com/LydiaTeng369" target="_blank">Lydia Teng</a>. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>