<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
    <div class="container">
        <a class="navbar-brand" href="#">
            <div>Article Records</div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/api/article/list">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/user/fromLogin">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/user/fromRegister">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>